// Colours

$color-white: #FFFFFF;
$color-grey: #DADADA;
$color-purple: #9703A7;
$color-blue: #004BA4;

$color-secondary-text: $color-white;
$color-button: $color-purple;
$color-background: $color-grey;
$color-background-seondary: $color-blue;
