// Colours

$color-white: #FFFFFF;
$color-grey: #f5f5f5;
$color-purple: #ac29b5;
$color-blue: #004BA4;

$color-primary-text: #262626;
$color-secondary-text: $color-white;
$color-button: $color-purple;
$color-background: $color-grey;
$color-background-seondary: $color-blue;
$color-link: #1d67be;

$font-size: 1.125rem;
$line-height: 28px;
