@import "reset";
@import "variables";

body {
  margin: 0;  
  font: 400 $font-size 'Roboto', sans-serif;  
  line-height: $line-height;
  color: $color-primary-text;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4 {
  margin: 0;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: $color-link;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

p {
  margin: 16px 0;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.container {
  display: flex; 
  max-width: 992px;
  margin: 0 auto;
  padding: 0 12px;
  > * {  
    margin: 12px 0;  
  }
  &.top {
    flex-direction: column;
  }
  &.main {    
    max-width: 900px;
    flex-wrap: wrap;
    justify-content: space-between;
    h3 {
      text-transform: uppercase;
    }
  }
  .banner {
    margin: 0;
  }
  .leadtext {
    margin-top: 0;    
  }
}

.header {
  .small {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      height: 100%;
      max-height: 38px;
      &.es {
        max-height: 32px;
      }
    }
  }
  .large {
    display: none;
    align-items: center;
  }
}

.logo {
  margin: 0;
  text-align: center;
}

.banner {
  line-height: 0;
  .large {
    display: none;
  }
  img {
    object-fit: contain;
    width: 100%;
  }
}

.leadtext {
  background-color: $color-background;
  display: flex;
  flex-direction: column;
  align-items: center;  
  position: relative;
  padding: 24px 12px 48px 12px;
  
  .content {
    max-width: 900px;    
  }
  .button {
    padding: 12px 80px;
    background-color: $color-button;
    color: $color-secondary-text;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    bottom: -24px;
    letter-spacing: 0.1em;
    &:hover {
      background-color: darken($color-button,5%);
    }
  }
}


.col {
  padding:12px;
}

.col-1 {
  background-color: $color-background-seondary;
  color: $color-secondary-text;
}

.col-2 {
  background-color: $color-background;
}


@media all and (min-width: 768px) {  
  .container {      
    padding: 0 16px;
    > * {  
      margin: 20px 0;
    }
  }    
  .banner {
    .small {
      display: none;
    }
    .large {
      display: block;
    }   
  }
  .leadtext {
    font-size: 24px;
    line-height: 1.4em;
    padding: 32px 0 64px 0;
  }
  .col { 
    width: calc(50% - 45px);
    padding: 16px;
  }  
  .col-1 {
    margin-right: 16px;
  }
}

@media all and (min-width: 992px) {
  .header {
    .small {
      display: none;
    }
    .large {
      display: flex;
      justify-content: space-between;
      
      img {
        max-height: 38px;
        &.jg,
        &.es {
          max-height: 26px;          
        }
        &.ejaf {
          max-height: 48px;
        }
      }
    } 
  } 
}