@import "variables";

body {
margin: 0;  
}
.container {  
  display: flex;  
  flex-flow: row wrap;
  max-width: 992px;
  margin: 0 auto;
  padding: 12px;
  @media all and (min-width: 768px) {
    padding: 16px;
  }
}

.container > * {
  flex: 1 100%;
  margin: 6px 0;
  @media all and (min-width: 768px) {
    margin: 8px 0;
  }
}

p:last-of-type {
  margin-bottom: 0;
}
.header {
  
}

.leadtext {
  background-color: $color-background;
  display: flex;
  flex-direction: column;
  align-items: center;  
  .content {
    max-width: 900px;    
  }
  .button {
    padding: 12px 20px;
    background-color: $color-button;
    color: $color-secondary-text;

  }
}
.main {  
  
}

.col {
  padding:12px;
}

.col-1 {
  background-color: $color-background-seondary;
  color: $color-secondary-text;
}

.col-2 {
  background-color: $color-background;
}

@media all and (min-width: 768px) {
  .col { 
    flex: 0 calc(50% - 40px);     
    padding: 16px;
  }  
  .col-1 {
    margin-right: 16px;
  }
}